// Colors Variables Settings Stylesheet
// ========================================

// Black
$black-base:   #171F26;

// Blue
$blue-base:    #5CB8D9;

// Grey
$grey-light:   #F3F3F3;
$grey-base:    #B1B1B2;
$grey-dark:    #8C8C94;
$grey-darkest: #222A31;

// Purple
$purple-base:  #6179B6;

// Red
$red-base:     #F63E54;

// White
$white-base:   #FFFFFF;


// Main Palette List
$colors: (
  black-base:    $black-base,
  blue-base:     $blue-base,
  grey-light:    $grey-light,
  grey-base:     $grey-base,
  grey-dark:     $grey-dark,
  purple-base:   $purple-base,
  red-base:      $red-base,
  white-base:    $white-base
);
