// Typography Variables Settings Stylesheet
// ===============================================

// Font Families
$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Bowlby One SC', cursive;

// Sizes
$font-size-base:  15px;

$s-alpha:         42px;
$s-bravo:         36px;
$s-charlie:       24px;
$s-delta:         18px;
$s-echo:          16px;
$s-foxtrot:       $font-size-base;
$s-golf:          12px;
$s-hotel:         10px;

// Line Heights
$base-line-height: 1.0;
$base-line-small:  $font-size-base;

// Text Alignment
$text-align-center:  center;
$text-align-left:    left;
$text-align-justify: justify;
$text-align-right:   right;

// Text Alignment List
$text-alignments: (
  center    $text-align-center,
  left      $text-align-left,
  justify   $text-align-justify,
  right     $text-align-right
);

// Text Colors Map
$type-colors: (
  'black':     ( $black-base ),
  'blue':      ( $blue-base  ),
  'grey':      ( $grey-base  ),
  'grey-dark': ( $grey-dark  ),
  'purple':    ( $purple-base),
  'white':     ( $white-base )
);
