body {
  font-family: 'Nunito', sans-serif;
  // background-color: $red;
}

.header{
  background-color: blue;
}

.header__nav{
  // float: left;
  // padding: 3%;
}

.header__nav__item{
  // display: inline-block;
  // color: blue;
}

.main {
  background-color: $red;
}

.main__section {
  // padding: 20px;
}

.main__section__list {
  // text-align: center;
}
