h1 {
  font-size: 65px;
  font-family: $secondary-font;
}

h2 {
  font-size: 55px;
  font-family: $primary-font;
}

h3 {
  font-size: 45px;
  color: $white;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 20px;
}
